.wrapper{
	width: 70%;
	margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
  grid-auto-rows: repeat (15, 500px);
  grid-gap: .5vw .5vw;
}

.header{
	width: 70%;
	margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    grid-auto-rows: repeat (15, 500px);
	background: #fff;
	position: fixed;
	top:0px;	
	z-index: 1000;
}

img {
	width: 100%;
}

h1 {
	font-size: 3vh;
    font-family: 'Raleway', sans-serif;
    text-align: left;
	align-self: center;
    font-weight: 400;
}

h2 {
	font-size: 2vh;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}

.active {
	font-size: 2vh;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

.title{
	grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.subtitle-work{
	grid-column: 3 / span 1;
    grid-row: 1 / span 2;
	align-self: center;
	text-align: right;
	padding-right: .3em;
	font-weight: 400;
}

.subtitle-cv{
	grid-column: 4 / span 1;
    grid-row: 1 / span 2;
	align-self: center;
	text-align: left;
	font-size: 2vh;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

.subtitle-cv a:hover {
    font-weight: 600;
    color: darkred;
    
}

.text06 {
	align-self: end;
	text-align: left;
	font-size: 100%;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	padding-left: 10px;

}

.eurythmie{
	grid-column: 1 / span 6;
    grid-row: 3 / span 2 ;
}

.eurythmie-text{
	grid-column: 1 / span 6;
    grid-row: 3 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 5px;
}

.thetower{
	grid-column: 1 / span 2;
    grid-row:  5 / span 2 ;
	
}

.thetower-text{
	grid-column: 1 / span 2;
    grid-row:  5 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 5px;
}

.oshtoora{
	grid-column: 3 / span 4;
    grid-row:  5 / span 2 ;
	
}

.oshtoora-text{
	grid-column: 3 / span 4;
    grid-row:  5 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 5px;
}

.wall{
	grid-column: 1 / span 4;
    grid-row:  7 / span 2 ;
	
}

.wall-text{
	grid-column: 1 / span 4;
    grid-row:  7 / span 1 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 3px;
}


.mvidia{
	grid-column: 5 / span 2;
    grid-row:  7 / span 1 ;
}

.mvidia-text{
	grid-column: 5 / span 2;
    grid-row:  7 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.osfarm{
	grid-column: 1 / span 2;
    grid-row:  8 / span 1 ;
	background: #fff;
}

.osfarm-text{
	grid-column: 1 / span 2;
    grid-row:  8 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.thestation{
	grid-column: 3 / span 4;
    grid-row:  8 / span 1 ;
	background: #fff;
}

.thestation-text{
	grid-column: 3 / span 4;
    grid-row:  8 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}





