.header{
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    grid-auto-rows: repeat (15, 500px);

    width: 70.1%;
    display: grid;
	background: #fff;
	position: fixed;
	top:0px;	
	z-index: 1000;
	left: 50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: repeat (15, 500px);
  grid-gap: .5vw .5vw;

  position: absolute;
  width: 70%;
  top:20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

img {
	width: 100%;
}

h1 {
	font-size: 1.5vmax;
    font-family: 'Raleway', sans-serif;
    text-align: left;
	align-self: center;
    font-weight: 400;
}

h2 {
	font-size: 1.1vmax;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
}

.title{
	grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.subtitle{
	grid-column: 6 / span 1;
    grid-row: 1 / span 2;
	align-self: center;
	text-align: right;
	font-size: 1vmax;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

.subtitle-cv a:hover {
    font-weight: 600;
    color: darkred;
    
}

#portfolio{
	font-weight: 600;
	font-size: 1vmax;
	color: #ed1c24;
}

.text06 {
	align-self: end;
	text-align: left;
	font-size: 1.2vmax;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	padding-left: 10px;

}

.eurythmie{
	grid-column: 1 / span 6;
    grid-row: 3 / span 2 ;
}

.eurythmie-text{
	grid-column: 1 / span 6;
    grid-row: 3 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.thetower{
	grid-column: 1 / span 2;
    grid-row:  5 / span 2 ;
	
}

.thetower-text{
	grid-column: 1 / span 2;
    grid-row:  5 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.oshtoora{
	grid-column: 3 / span 4;
    grid-row:  5 / span 2 ;
	
}

.oshtoora-text{
	grid-column: 3 / span 4;
    grid-row:  5 / span 2 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.wall{
	grid-column: 1 / span 4;
    grid-row:  7 / span 2 ;
	
}

.wall-text{
	grid-column: 1 / span 4;
    grid-row:  7 / span 1 ;
	background: #252525;
	opacity: .5;
	margin-bottom: 3px;
}


.mvidia{
	grid-column: 5 / span 2;
    grid-row:  7 / span 1 ;
}

.mvidia-text{
	grid-column: 5 / span 2;
    grid-row:  7 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.osfarm{
	grid-column: 1 / span 2;
    grid-row:  8 / span 1 ;
	background: #fff;
}

.osfarm-text{
	grid-column: 1 / span 2;
    grid-row:  8 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.thestation{
	grid-column: 3 / span 4;
    grid-row:  8 / span 1 ;
	background: #fff;
}

.thestation-text{
	grid-column: 3 / span 4;
    grid-row:  8 / span 1 ;
    background: #252525;
	opacity: .5;
	margin-bottom: 4px;
}

.footer{
	grid-column: 1 / span 6;
    grid-row:  9 / span 1 ;
	border-top: solid thin #363636;
	color: #000;
	font-size: .8vmax;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	align-self: center;
	padding-right: 10px;
}

@media screen and (max-width: 768px) {
  	.header{
    	width: 95.1%;
	}

	.wrapper{
  		width: 95%;
	}
}



